# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.metadata
.settings/
.project
/exercise4/.FlexUnitSettings
.FlexUnitSettings
FlexUnitApplication-app.xml
FlexUnitApplication.mxml
FlexUnitCompilerApplication.mxml
FlexUnitCompilerApplication-app.xml
